.text {
  margin-right: 5px;
  
}

.search {
  margin: 5px 0;
  padding: 10px;

  text-align: end;
  background-color: #F4D9D9;
  border-radius: 10px;
}

.input {
  width: 20%;
  padding: 5px 10px;

  border: none;
  border-radius: 5px;
}